<nav class="navbar navbar-toggleable-md bg-primary navbar-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#">Disabled</a>
    </div>
  </div>
</nav>

<div class="container">
  <h1>Fruits Bucket</h1>
  <div class="row">
   <div class="col-md-12">
      <div class="form-horizontal">
          <div class="form-group">
            <input type="text" [(ngModel)]="fruit" class="form-control" />
          </div>
          <input type="button" value="Add" (click)="onAdd($event)" class="btn btn-success" />
        </div>
   </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
        <ul class="list-group" *ngFor="let f of fruits">
            <li class="list-group-item">{{f}}</li>
          </ul>
    </div>
  </div>
</div>